/*
    DEMO STYLE
*/


@font-face {
    font-family: monsterrat;
    src: url('../Font/Montserrat-SemiBold.ttf');
    font-weight: bold;
}

.sidebar-header h3{
    font-size:   1.4rem;
    text-align:center;
             
}

body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family:monsterrat;
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 5px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    /*background: #7386D5;*/
    background: #223B65;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        /*background: #6d7fcc;*/
        background: #1A2D53;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul.components,li,a {
        font-size:12px;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            /*color: #7386D5;*/
            color: #172679;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        /*background: #6d7fcc;*/
        background: #1A2D53;
    }

    /*#sidebarCollapse{

    }*/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
    background: #1A2D53;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    /*background: #6d7fcc !important;*/
    background: #1A2D53 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /*padding: 40px;*/
    padding:25px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color:white;
}

    #content.active {
        width: 100%;
    }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }
}

.garisJudul {
    width: 80px;
    height: 3px;
    /*margin-top: 5px;*/
    margin-left: 1px;
    background-color: #23369a;
    margin-right: 20px;
}


.modal-body .lblModal{
    font-size:.7rem;
}

.modal-body .row{
    margin-top:10px;
}

    .modal-body .row .form-control {
        padding: 5px 10px;
        height: calc(1em + .8rem + 2px);
        font-size: 12px;
        font-weight: normal;

        font-family: Calibri;
    }

    .modal-header .modal-title{
        font-size:14px;
        padding:10px 15px;
    }


    .lbl{
        font-size:10px;
    }